.header-tag{
text-align: center;
font-family: 'Rock Salt', cursive;
text-decoration: none;
color: white;
}
.city {
  text-align: center;
  font-family: 'Rokkitt', serif;
}
.find-button{
    display: flex;
    justify-content: center;
    margin: 1%;
  }
.info {
  font-family: 'Rokkitt', serif;
}
<<<<<<< HEAD


/* just started the css process its long way from even a quarter done. */
img {
  width: 90%;
  height: 50%;
  display: block;
}
=======
>>>>>>> d09a3750ee5bf5d0d186148d6d5a9e6928e941c6
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.food-card {
  width: 44%;
  margin: 2em 0;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
  padding: 3%;
}
.food-info {
  /* display: flex; */
  justify-content: space-between;
  padding: 0.5em 1em;
  font-size: 0.85em;
}
.find-button {
  margin: auto;
  margin-top: 2%;
}
.weight{
  font-weight: 200;
}
.rating {
  width: 100%;
  margin: 2%;
}
.review-box {
  outline: 1px solid black;
  padding: 5%;
  margin: 2%;
  background-color: #3a99b51f;
}
.add-review {
  float: right;
}
.anchors {
  text-decoration: none;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
}
.review-padding {
  padding: 3%;
}
.anchors:hover {
  text-decoration: none;
  color: blue;
}
textarea {
  max-width: 100%;
  max-height: 100px;
  min-height: 10px;
}
body {
  background-image: url('https://cdn.pixabay.com/photo/2015/03/26/09/54/restaurant-690569_960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.RJ {
  color: white;
  padding: 1%;
  background: #3a99b51f;
}
.find-btn{
  font-size: 100%;
  margin-left: 1%;
  font-family: 'Josefin Sans', sans-serif;
}
.footer-bottom {
  position: relative;
  bottom: 0;
  background: #3a99b51f;
  padding: 2%;
}
.footer {
<<<<<<< HEAD
  font-family: 'Rock Salt', cursive;
  width: 50%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
=======
  color: white;
  text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.card-image {
  width: 100%;
  height: 200px;
}
.form-rj {
  width: 20%;
  font-family: 'Josefin Sans', sans-serif;
}
.city {
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  background: #3a99b51f;
  width: fit-content;
  margin: auto;
  margin-top: 2%;
>>>>>>> d09a3750ee5bf5d0d186148d6d5a9e6928e941c6
}
