.header-tag{
text-align: center;
font-family: 'Rock Salt', cursive;
text-decoration: none;
color: black;
}
.city {
  text-align: center;
  font-family: 'Rokkitt', serif;
}
.find-button{
    width: 15%;
    border-radius: 3px;
    padding: 5px;
  }
/* .find-button:hover {
  background-color: #6500d4cf;
} */

.info {
  font-family: 'Rokkitt', serif;
}


/* just started the css process its long way from even a quarter done. */
.card-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.food-card {
  width: 44%;
  margin: 2em 0;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
  padding: 3%;
}
.food-info {
  /* display: flex; */
  justify-content: space-between;
  padding: 0.5em 1em;
  font-size: 0.85em;
}
.find-button {
  margin: auto;
}
.weight{
  font-weight: 200;
}
.rating {
  width: 100%;
  margin: 2%;
}
.review-box {
  outline: 1px solid black;
  padding: 5%;
  margin: 2%;
  background-color: cornsilk;
}
.add-review {
  float: right;
}
.anchors {
  text-decoration: none;
  color: black;
}
.review-padding {
  padding: 3%;
}
.anchors:hover {
  text-decoration: none;
  color: #6500d4cf;
}
textarea {
  max-width: 100%;
  max-height: 100px;
  min-height: 10px;
}
/* .edit-remove {
  display: flex;
} */
body {
  background-image: url('https://cdn.pixabay.com/photo/2017/08/07/22/57/coffee-2608864__340.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.RJ {
  color: black;
  padding: 1%;
  background: cornsilk;
}
.find-btn{
  font-size: larger;
}
.footer-bottom {
  position: sticky;
  bottom: 0;
  background: cornsilk;
  padding: 1%;
}
.footer {
  color: black;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}
