
.header-tag{
text-align: center;
font-family: 'Rock Salt', cursive;
text-decoration: none;
color: black;
}
.city {
  text-align: center;
  font-family: 'Rokkitt', serif;
}
.find-button{
  background-color: #147842;
    font-family: 'Acme', sans-serif;
    width: 100px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 5px;
    margin: 20px 0;
    transition: 0.3s all;
  }
.find-button:hover {
  background-color: #147842;
}

.info {
  font-family: 'Rokkitt', serif;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

=======
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
li {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 28%;
  margin: 2%;
  background: #12121212;
  box-sizing: border-box;
  padding: 2%;
  box-shadow: 2px 2px 4px gold;
}
>>>>>>> fcd9600389b6ad86bcfeec3326c214a1bed5480f

/* just started the css process its long way from even a quarter done. */
.card-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.food-card {
  width: 44%;
  margin: 1em 0;
  background: white;
  box-shadow: 3px 3px #eee;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.food-info {
  /* display: flex; */
  justify-content: space-between;
  padding: 0.5em 1em;
  font-size: 0.85em;
}
>>>>>>> 5f1ddb991e773d070638b69446410aacf9a0d88c
